* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(0deg, #8C6645, #3e2b23); */
    height: 100vh;
    font-family: 'Cinzel', serif;
    overflow-x: hidden;
}
    
.page {
    text-align: center;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.fixed-header {
    background: radial-gradient(circle, #8C6645, #5a452b);
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px 0;
    border-bottom: 3px solid #b2972c;
}

.title {
    color: #fff;
    font-family: "Cinzel", serif;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.6);
    line-height: 60px;
    z-index: 1000;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

.home-icon {
    position: fixed;          
    left: 16px;            
    background: radial-gradient(circle at center, #9e8b46, #6a532f);
    border-radius: 50%;
    padding: 10px;
    box-shadow: 
        0 0 8px rgba(0, 0, 0, 0.2),
        0 0 20px rgba(212, 175, 55, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dfdddd;
}

.home-icon:hover {
    transform: translateY(-50%) scale(1.1);
    background: radial-gradient(circle at center, #c9a70b, #7d5c00);

    color: #000;
    box-shadow: 
        0 0 10px rgba(0, 0, 0, 0.3),
        0 0 30px rgba(255, 215, 0, 0.4);
    border-color: rgba(255, 255, 255, 0.6);
} 

.full-explanation-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center; 
    padding: 20px 0; 
}

.slider-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;   
  align-items: center;     
  gap: 10px;              
  z-index: 999;
}


.slider-dots {
  display: flex;
  justify-content: center;  
  gap: 12px;
  margin: 0;                
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #a4a4a4;
  cursor: pointer;
  position: relative;
}

.dot.active {
  background-color: #4b4b4b;
}

.content-slide {
  display: none;
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 24px;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  margin-left: 12%;
  margin-right: 12%;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.content-slide.active {
  display: flex;
}

.text-explanation {
  flex: 1;
  font-size: 1.1rem;
  font-family: 'Crimson Text', serif;
  color: #1a1a2e;
  text-align: justify;
}

.slider-controls {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.slider-controls button {
  padding: 10px 10px;
  background-color: #947612;
  color: #1a1a2e;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.slider-controls button:hover {
  background-color: #947612;
}

.slide-title {
  width: 100%;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 1.4rem;
  color: #3e2b23;
  border: 2px solid #3e2b23;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  background-color: #f9f5f0;
  box-shadow: 0 4px 8px rgba(62, 43, 35, 0.2);
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.content-slide {
  display: none;
  flex-direction: row; 
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  padding: 24px;
  margin-left: 12%;
  margin-right: 12%;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.content-slide.active {
  display: flex;
}

.slide-image img {
  width: 300px;
  height: auto;
  border-radius: 8px;
}

.slide-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  text-align: left;
}

